In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('tb_mesa.csv')

In [3]:
dados.info

<bound method DataFrame.info of      codigo_mesa  id_cliente  num_pessoa_mesa    data_hora_entrada  \
0              1          70               18  2023-01-29 03:16:24
1              2          35               13  2024-03-24 03:11:10
2              3          46               11  2022-10-19 05:52:38
3              4          46               15  2023-10-30 19:33:55
4              5          18                7  2023-11-16 13:37:16
..           ...         ...              ...                  ...
995          996          70                4  2023-09-27 14:27:30
996          997          35               11  2022-10-29 21:57:29
997          998          55               14  2023-06-22 08:53:01
998          999          62                6  2024-01-22 13:36:15
999         1000          72                2  2023-06-22 12:28:42

         data_hora_saida
0    2023-01-30 17:16:24
1    2024-03-27 00:11:10
2    2022-10-20 02:52:38
3    2023-10-31 22:33:55
4    2023-11-19 01:37:16
..                   ...
995  2023-09-28 22:27:30
996  2022-11-01 00:57:29
997  2023-06-23 20:53:01
998  2024-01-22 23:36:15
999  2023-06-26 07:28:42

[1000 rows x 5 columns]>

In [4]:
dados.drop('id_cliente', axis = 1, inplace=True)
dados.drop('num_pessoa_mesa', axis = 1, inplace=True)
dados.drop('codigo_mesa', axis = 1, inplace=True)

In [5]:
dados.to_csv('tb_mesa_alterados3.csv')

In [6]:
dados.to_csv('data_hora.csv')